<!--add_expense.html-->
{% extends 'layout.html' %}

{% block title %}Add Expense{% endblock %}

{% block content %}
<body>
    <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
        <div class="row justify-content-center">
            <div class="col-md-15 p-5 shadow rounded-lg bg-light">
                <h2 class="text-center mb-4">Add an Expense</h2>
                <form action="{{ url_for('add_expense', group_name=group.name) }}" method="post">
                    <div class="form-group">
                        <label for="payer_id" class="form-label">Who Paid?</label>
                        <select name="payer_id" id="payer_id" class="form-control" required>
                            {% for user in group.members %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Split Between:</label>
                        <div class="btn-group-toggle" data-toggle="buttons">
                            {% for user in group.members %}
                                <label class="btn btn-outline-primary">
                                    <input type="checkbox" autocomplete="off" hidden id="checkbox_{{ user.id }}" name="debtors" value="{{ user.id }}" /> {{ user.first_name }} {{ user.last_name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" id="description" name="description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="amount" class="form-label">Amount:</label>
                        <input type="number" step="0.01" id="amount" name="amount" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary-yellow  btn-inline-block center-button">Add Expense</button>
                </form>
                    <a href="{{ url_for('group_intermediate', group_name=group.name) }}" class="btn btn-secondary btn-inline-block center-button">Go Back to Groups</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}

