<!-- group_intermediate.html -->
{% extends 'layout.html' %}

{% block title %}Group Options{% endblock %}
{% block content %}
<h1 class="dashboard-title">Options for <span class="highlight">{{ group.name }}</span></h1>
<body>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
                <div class="card option-card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-plus-circle"></i> Add Expense</h5>
                        <p class="card-text">Keep track of new expenses.</p>
                        <a href="{{ url_for('add_expense', group_name=group_name) }}" class="btn btn-primary-yellow ">Add Expense</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card option-card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-chart-pie"></i> View Summary</h5>
                        <p class="card-text">See your group's financial summary.</p>
                        <a href="{{ url_for('group_dashboard', group_name=group_name) }}" class="btn btn-primary stretched-link">View Summary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

btn btn-warning font-weight-bold mt-3