<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Expense Splitter{% endblock %}</title>
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Vis.js -->
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <a href="/" class="header-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="140" height="48" viewBox="0 0 140 48">
            </svg>
        </a>

       <div class="cta-buttons">
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="logout-btn">Log Out</button>
                </form>
                <a href="/" class="home-btn"><i class="fas fa-home"></i></a>
            {% else %}
                <a href="{{ url_for('login') }}">Log in</a>
                <a href="{{ url_for('register') }}" class="signup-btn">Sign up</a>
                <a href="/" class="home-btn"><i class="fas fa-home"></i></a>
            {% endif %}
        </div>
    </header>


    <!-- Main content area -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Content block to be filled by child templates -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

   <!-- Flash Messages -->
    <div class="container mt-2">
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>


    <script>
    $(document).ready(function() {
        setTimeout(function() {
            $(".alert").fadeTo(200, 0).slideUp(200, function(){
                $(this).remove(); // Removes the alert from DOM after hiding it
            });
        }, 700); // Messages will disappear after ~1 second
    });
    </script>


    <!-- Footer -->
    <footer class="footer" style="background-color: #f0f0f0; padding: 20px; text-align: center;">

        <!-- GitHub repository link -->
        <div class="github-link" style="margin-bottom: 6px;">
            <a href="https://github.com/GiuliaGGG/DSA-Debt-Settlement-Group-6" target="_blank" style="color: #333;"><i class="fab fa-github"></i> GitHub</a>
        </div>
    </footer>

    <!-- Log out user when they close the tab -->
    <script>
        window.addEventListener('beforeunload', function (event) {
            // Send an AJAX request to the server to log out the user
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/logout', false); // Synchronous request to ensure it completes before page closes
            xhr.send();
        });
    </script>

</body>
</html>






