/* General Styles */

/* Modify <h1> */
body h1 {
    font-size: 30px;
}

.dashboard-title {
    /*font-family: 'Geneva', Segoe UI, Tahoma, Verdana, sans-serif;  Modern font */
    color: #333; /* Text color */
    text-align: center; /* Centering text */
    font-size: 30px; /* Font size */
}

.highlight {
    background-color: #F6C667; /* Yellow background */
    padding: 5px 10px; /* Padding around 'friends' */
    border-radius: 5px; /* Rounded corners for the highlight */
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: var(--f0f0f6);
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.container {
    padding: 30px;
}

.text-center {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.input-group-btn.input-space {
    padding-left: 15px;
    padding-right: 15px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--saffron);
    outline: none;
    box-shadow: 0 0 8px rgb(247, 250, 255);
}


h2,
h3 {
    color: var(--eerie-black);
    margin-bottom: 20px;
}

p {
    color: var(--eerie-black);
}

/* Cards */
.card {
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: var(--periwinkle);
}

.card-body {
    padding: 20px;
}

/* New Card Layout */
.new-card {
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    position: relative; /* Add position relative */
}

.new-card-header {
    background-color: var(--periwinkle);
    color: #333; /* Adjust header text color for better visibility */
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.new-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.new-card-icon {
    float: left;
    margin-right: 15px; /* Increase the margin to create more space */
    font-size: 24px;
    color: #333;
}


.new-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

a {
    color: var(--saffron);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cta-buttons {
    display: flex;
    align-items: center;
}

.cta-buttons a {
    margin-right: 20px;
    text-decoration: none;
    color: #231F20;
    font-weight: bold;
}

.cta-buttons .signup-btn {
    background-color: #F6C667;
    color: #231F20;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.cta-buttons .signup-btn:hover {
    background-color: #E6B960;
}

.cta-buttons .logout-btn {
    background-color: #f0f0f0;
    color: #F6C667;
    border: 2px solid #F6C667;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 20px !important;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-buttons .logout-btn:hover {
    background-color: #e6e6e6;  /* Slightly darken the background on hover for visual feedback */

}

.cta-buttons .logout-btn:active {
    background-color: #d9d9d9;  /* Darken the background further when the button is clicked */
    border-color: #E6B960 !important;
}


.btn-round {
    color: white !important; /* Set text color to white */
    background-color: #333333 !important;
    border: 2px solid #333333;  /* Added 'solid' and '2px' to specify border style and width */
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 20px !important;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-round:hover {
    background-color: #333;  /* Slightly darken the background on hover for visual feedback */
}

.btn-round:active {
    background-color: #333;  /* Darken the background further when the button is clicked */
    border: #231F20 !important;
}

/* Add a new CSS class for the PayPal button */
.paypal-button {
    color: #f0f0f0 !important; /* White text */
    background-color: mediumblue !important;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: flex-start; /* Align to the left */
    margin-bottom: 10px; /* Adjust margin as needed */
}

.paypal-button .btn {
    margin-right: 10px; /* Add space between button and text */
}


.content-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.btn-warning.btn-lg {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.btn-secondary.btn-lg {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.btn-paypal {
    background-color: #F6C667;
    color: #231F20;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color;
}

.btn-paypal:hover {
    background-color: #E6B960;
}

/* button styles */
.btn-primary {
    background-color: #333 !important; /* Dark grey background */
    color: white !important; /* White text */
    border: none !important;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center !important;
    display: inline-block !important;
    margin: 10px auto;
    cursor: pointer;
}

.btn-primary-yellow {
    background-color: #F6C667 !important; /* Yellow background */
    color: #333 !important; /* Dark grey text */
    border: none !important;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center !important;
    display: inline-block !important;
    margin: 10px auto;
    cursor: pointer;
    /* Add bold text */
    font-weight: bold !important;
}

.center-button {
    display: block; /* or 'inline-block' if you don't want it to take full width */
    margin: 10px auto; /* Center the element horizontally */
    text-align: center; /* Ensures text inside is centered, useful if display is block */
}

.button-container {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically, if needed */
}

.flash-messages .alert {
    display: inline-block;
    position: fixed;
    top: 20px; /* Adjust this value as needed to position it lower or higher */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}







